<form [formGroup] = "userForm" autocomplete="off">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="w-100 example-full-width" appearance="fill">
                <mat-label>firstname</mat-label>
                <input matInput formControlName="firstname" placeholder="Your first name">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100 example-full-width" appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastname" placeholder="Your last name">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100 example-full-width" appearance="fill">
                <mat-label>email</mat-label>
                <input matInput formControlName="email" placeholder="Your email">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100 example-full-width" appearance="fill">
                <mat-label>User name</mat-label>
                <input matInput formControlName="username" placeholder="Your Name">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100 example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Password" type="password">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100 example-full-width" appearance="fill">
                <mat-label>role</mat-label>
                <mat-select formControlName="roleId">
                  <mat-option *ngFor="let role of roles" [value]="role.roleId">{{role.roleName}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
</form>
<button mat-raised-button [disabled]="userForm.invalid" (click)="onSave()">save</button>
