
<div class="center">
    <table >
        <thead><tr><td>
          <div class="header-space"></div>
        </td></tr></thead>
        <tbody><tr><td>
          <div class="content">
           
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">SN</th>
                    <th scope="col">BARCODE</th>
                    <th scope="col">ITEM NAME</th>
                    <th scope="col">COST</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">UNIT OF MEASUREMENT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sale of data,let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{sale.producode}}</td>
                    <td>{{sale.itemName}}</td>
                    <td>{{sale.cost}}</td>
                    <td>{{sale.price}}</td>
                    <td>{{sale.uom}}</td>
                  </tr>
                  
                </tbody>
              </table>
    
          </div>
        </td></tr></tbody>
        <tfoot><tr><td>
          <div class="footer-space"></div>
        </td></tr></tfoot>
      </table>
                
      <div class="header">COOL HEADER</div>
      <div class="footer">AWESOME FOOTER</div>  
</div>
   
  
