/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*@media print {
    app-root > * { display: none; }
    app-root app-print-layout { display: block; }
  }*/
  @media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
    

    .sidenav,
    .sidenav * {
        display: none !important;
    }

    body{
        background-color: #f3f5f9;
    }
}

@media print {
    .isPrinting > * { display: none; }
    .isPrinting app-pro-print-latout { display: block; }
  }

.colo{
    background-color: rgb(18, 68, 12);
    color: whitesmoke;
}
.colo2{
    background-color: rgb(100, 149, 237);
    color: whitesmoke;
}
button{
    color: #f3f5f9;
}