hardcord{
    width: 85%;
}
.role{
    height: 40px;
    background-color:  rgb(18, 68, 12);
    padding-right: 10px;
    color: white;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 5px;
}
legend{
    font-family: 'Times New Roman', Times, serif;
}