<app-card title="Products">
  
    <div class="app-card-actions"> 
       <button mat-raised-button color="primary" (click)="createProduct()">Add Product</button>&nbsp;
        <button mat-raised-button class="colo" type="button"  (click)="ExportTOExcel()">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" fill="currentColor" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
           <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z"/>
         </svg>
         Export to Excel
        </button>
        &nbsp;
        <button mat-raised-button class="colo2" (click)="[sender(),navigate()]">
           
          Print
        </button>
  </div>
  <table style="width: 95%;margin-left: 15px;">
    <tr>
      <td style="width: 50%;">
        <form [formGroup]="categoryForm">
          <mat-form-field style="width: 50%;">
            <mat-label>Filter</mat-label>
            <mat-select formControlName="cat_id" >
              <mat-option  *ngFor="let cat of category" [value]="cat.id"  (keyup)="applyFilter()">{{cat.categoryName}}</mat-option>
            </mat-select>
        </mat-form-field>
        </form>
      </td>

      <td style="align-content:center;">
        <button  class="colo" mat-raised-button (click)="applyFilter()">filter By Category</button>&nbsp;
        <button style="background-color: rgb(121, 19, 19);color: whitesmoke;" mat-raised-button (click)="getProduct()">reload</button>
      </td>
    </tr>
  </table>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
     <app-pro-table [tableData]="product"
     [tableColumns]="productTableColumns"
     [isPageable]="true"
     [paginationSizes]="[2,4,6]"
     [defaultPageSize]="4"
     (sort)="sortData($event)"
     [rowActionIcon]="'delete'"
     (rowAction)="removeItem($event)"
     (rowAction2)="editProduct($event)"
     >
     </app-pro-table>
  </app-card>