.header, .header-space,
.footer, .footer-space { height: 100px; }
.header { position: fixed; top: 0; }
.footer { position: fixed; bottom: 0; }


.center{
    
    justify-content: center;
    
}
.head{
    display: flex;
    justify-content: center;
}
.subhead{
    display: flex;
    justify-content: center;
}
span h1{
    margin-top: 15px;
}
h1{
    font-weight: bolder;
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-weight: bolder;
    font-size: 16pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 30px solid rgb(4, 63, 4);
}
.imgCont{
    display: flex;
    justify-content: center;
}
hr{
    height: 1px;
    background: black;
    width: 50px;
}
.down{
    position: fixed;
    bottom: 15px;
}